* {
  box-sizing: border-box;
}

section {
  border:black 2px solid;
  float: left;
  position: relative;
 
}

h1 {
  text-align: center;
}

p, h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

p {
  color: gray;
}

h2 {
  /* float: right; */
  border: blue 1px solid;
  width: auto;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}


/* Desktop View */
@media (min-width: 992px) {
    h1 {
      color: green;
    }
    
    .desktop {
      width: 30%;
      margin: 1.5%;
    }
}

/* 
Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
      color: yellow;
    }

    .tablet {
      width: 49%;
    }

    #coffee {
      margin-left: 2%;
    }
    #icecream {
      margin-top: 2%;
    }
}

/* Mobile View */
@media (max-width: 767px) {
    h1 {
      color:blue;
    }
    
    .mobile {
      margin: 2%;
    }
}



